<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{src/partials/_head :: _head}">

</head>
<body onload="loading()">
<div class="container-scroller">

    <!-- Navbar -->
    <div th:replace="~{src/partials/_navbar :: _navbar}"></div>

    <div class="container-fluid page-body-wrapper">
        <!-- Sidebar -->
        <div th:replace="~{src/partials/_sidebar :: _sidebar}"></div>

        <div class="main-panel">
            <div class="content-wrapper">
                <h2 class="fw-bold fs-4 mb-3">Bán hàng tại quầy</h2>
                <div class="card">
                    <div class="card-body">
                        <h3>Danh sách hoá đơn
                            <button class="btn btn-primary ms-3" onclick="createBill()">Tạo hoá đơn</button>
                        </h3>
                        <div class="mt-2" id="list-bill">

                        </div>
                    </div>
                </div>
                <div class="card mt-3" id="cart" style="display: none">
                    <div class="row card-body">
                        <div>
                            <div class="col-12 d-flex justify-content-between">
                                <h3>Giỏ hàng</h3>
                                <p style="margin-top: -20px; cursor: pointer"><i class="fa-solid fa-circle-xmark" onclick="removeBill()"></i></p>
                            </div>
                            <div class="col-12 text-end">
                                <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                        class="fa-solid fa-cart-shopping" onclick="renderThuocTinh()"></i></button>
                            </div>
                            <div class="col-12">
                                <div class="mt-4 text-center" id="noProduct">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3" id="bill" style="display: none">
                    <div class="card-body">
                        <h3>Thông tin hoá đơn</h3>
                        <div class="col-12 d-flex" id="bill-info">
                            <div class="col-7 me-4">
                                <div class="" style="display: none" id="address-info">
                                    <h4>Thông tin giao hàng</h4>
                                    <div class="row mt-3">
                                        <div class="col-6">
                                            <label class="mb-1">Tên người nhận</label>
                                            <input type="text" id="recipient-name" style="height: 30px" class="form-control">
                                        </div>
                                        <div class="col-6">
                                            <label class="mb-1">Số điện thoại</label>
                                            <input type="text" id="phone-number" style="height: 30px" class="form-control">
                                        </div>
                                        <div class="col-12 d-flex justify-content-between mt-2">
                                            <div class="col-4 p-1">
                                                <label class="mb-1">Thành phố</label>
                                                <select class="form-select w-100" onchange="loadDistricts('','','')" style="height: 30px; padding: 0 10px; line-height: 30px; box-sizing: border-box;" id="province">

                                                </select>
                                            </div>
                                            <div class="col-4 p-1">
                                                <label class="mb-1">Quận/Huyện</label>
                                                <select class="form-select w-100" onchange="loadWards('','')" style="height: 30px; padding: 0 10px; line-height: 30px; box-sizing: border-box;" id="district">

                                                </select>
                                            </div>
                                            <div class="col-4 p-1">
                                                <label class="mb-1">Xã</label>
                                                <select class="form-select w-100" style="height: 30px; padding: 0 10px; line-height: 30px; box-sizing: border-box;" id="ward">

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <label class="mb-1">Địa chỉ chi tiết</label>
                                            <input type="text" id="detailed-address" class="form-control" style="height: 30px">
                                        </div>
                                        <div class="col-12 text-center mt-4">
                                            <button id="submit-button" class="btn col-5" style="background-color: burlywood" onclick="submitAddress()">Xác nhận địa chỉ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="" id="bank-info">

                                </div>
                                <div class="row mt-2">
                                    <h4>Hình thức thanh toán</h4>
                                    <div class="col-12 text-center" >
                                        <input type="radio" class="btn-check" name="options" value="1" id="option1" autocomplete="off" checked>
                                        <label class="btn" for="option1" onclick="formBill(1)">Tiền mặt</label>

                                        <input type="radio" class="btn-check" name="options" value="2" id="option2" autocomplete="off">
                                        <label class="btn" for="option2" onclick="formBill(2)">Chuyển khoản</label>
                                    </div>
                                </div>
                                <div class="col-12 text-center mt-3">
                                    <button class="col-5 btn btn-primary" onclick="updateStatusBill()">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Danh sách sản phẩm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body cart">
                        <h4>Lọc</h4>
                        <div class="col-12 d-flex">
                            <div class="col-3">
                                <input style="border: none;border-bottom: 1px solid; height: 30px;" list="list-name"
                                       name="list-name" onchange="renderProductDetail()" id="name" placeholder="Tìm kiếm theo tên">
                                <datalist id="list-name">

                                </datalist>
                            </div>
                            <div class="col-3">
                                <input style="border: none;border-bottom: 1px solid; height: 30px;" list="list-size"
                                       name="list-size" onchange="renderProductDetail()" id="size" placeholder="Tìm kiếm theo size">
                                <datalist id="list-size">

                                </datalist>
                            </div>
                            <div class="col-3">
                                <input style="border: none;border-bottom: 1px solid; height: 30px;" list="list-color"
                                       name="list-color" onchange="renderProductDetail()" id="color" placeholder="Tìm kiếm theo màu sắc">
                                <datalist id="list-color">

                                </datalist>
                            </div>
                            <div class="col-3">
                                <input style="border: none;border-bottom: 1px solid; height: 30px;"
                                       name="id-product-detail" onchange="renderProductDetail()" id="id-product-detail" placeholder="Tìm kiếm theo mã">
                            </div>
                        </div>
                        <div class="mt-4">
                            <table class="table">
                                <thead>
                                <tr class="text-center">
                                    <th scope="col">STT</th>
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col">Giá bán</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Hoạt động</th>
                                </tr>
                                </thead>
                                <tbody class="text-center" id="list-product-detail">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Danh sách khách hàng</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-12 text-end">
                                <strong>Tìm kiếm</strong>
                                <input type="text" style="height: 30px" oninput="modalCustomer(this.value)" id="search" placeholder="Tìm kiếm theo số điện thoại">
                        </div>
                        <table class="table text-center mt-3">
                            <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Họ và tên</th>
                                <th scope="col">Số điện thoại</th>
                                <th scope="col">Email</th>
                                <th scope="col">Hoạt động</th>
                            </tr>
                            </thead>
                            <tbody id="list-customer">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/src/js/counter.js"></script>


    <!-- Scripts -->
    <div th:replace="~{src/partials/_script :: _script}"></div>
</div>
</body>
</html>